[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
opencv-python = "==4.11.0.86"
scipy = "*"
pillow = "*" 
matplotlib = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.13"